
    <form class="form-wrapper cf" action="/index" method="post">
        <input type="text" name="artist" placeholder="Artist..." required>
        <input type="text" name="song" placeholder="Song..." required>
        <button type="submit">Search</button>
	</form>   


	<div class="player">
	<audio controls>
		<source src="/" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>
	</div>

	</br>

	<h3>Your Songs:<h3> 
<p>
		</br>
		SONG HERE.mp3 3.5432342 MB
		</br>
</p>





<!-- <h1>Enter Some Stuff</h1>

<form class="form-wrapper cf">
        <input type="text" placeholder="Artist..." required>
        <input type="text" placeholder="Song..." required>
        <button type="submit">Search</button>
</form>   




<div class="container">
<form action="/index" method="post">
	<label>
	<span>Artist:</span> <input type="text" name="artist" /></br>
	</label>
	<label>
 	<span>Song:</span> <input type="text" name="song" /></br>
 	</label>
  	<input type="submit">
</form>
</div> -->
